In [99]:
# import Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import pairwise_distances
import random

In [100]:
cols= ["user_id", "movie_id", "rating", "timestamp"]
ratings_df = pd.read_csv('u.data',sep='\t',names=cols)
ratings_df

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [103]:
Rating_Matrix = ratings_df.pivot(index = 'user_id', columns ='movie_id', values = 'rating')
Rating_Matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
# filling nan values with zeros 
Rating_Matrix = Rating_Matrix.fillna(0)
Rating_Matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [105]:
# Split Data
def split_data(data, test_ratio):
    train_data, test_data = train_test_split(data, test_size = test_ratio, random_state=25)
    return train_data, test_data

n_users = ratings_df.user_id.unique().shape[0]
n_items = ratings_df.movie_id.unique().shape[0]

train, test = split_data(Rating_Matrix, 0.2)

In [106]:
non_zero = np.count_nonzero(train)
total_val = np.product(train.shape)

print('Non-Zeros: ',non_zero)
print('Total values',total_val)

Non-Zeros:  80159
Total values 1268228

In [107]:
#Calculate sparsity
sparsity = (total_val - non_zero) / total_val

#Calculate Density
density = non_zero / total_val

#sparsity = 1.0 -(count_nonzero(x) /float(x.size))
print('Sparsity:',sparsity.round(3))
print('Density:',density.round(3))

Sparsity: 0.937
Density: 0.063

In [108]:
def matrix_factorization(R, P, Q, K, steps, alpha=0.0002, beta=0.02):
    Q = Q.T
    print(type(steps),steps)
    for step in range(steps):
        for i in range(len(R)): #Iterate Rows of R: i.e: 1683
            for j in range(len(R[i])): #Iterate Columns of R: i.e: 944
                if R[i][j] > 0:
                    eij = R[i][j] - np.dot(P[i,:],Q[:,j])
                    for k in range(K): # K represents column of P & Rows of Q
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k]) # Gradient descent formula.
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j]) # Gradient descent formula.
        
        #Estimate for how well the prediction matrix is doing
        eR = np.dot(P,Q)
        e = 0
        counter = 0
        for i in range(len(R)): #Iterate Rows of R: i.e: 1683
            for j in range(len(R[i])): #Iterate Columns of R: i.e: 944
                if R[i][j] > 0:
                    e = e + pow(R[i][j] - np.dot(P[i,:],Q[:,j]), 2)
                    counter+=1
                    for k in range(K):  # K represents column of P & Rows of Q
                        e = e + (beta/2) * (pow(P[i][k],2) + pow(Q[k][j],2))
                        counter+=1

        e=e/counter # Here, e is MSE
        rmse = math.sqrt(e)

        print(' STEP ===>',step,'; MSE:',round(e,5), '; RMSE:',round(rmse,5))
        if e < 0.01:
            break
    return P, Q.T

In [109]:
R = np.array(Rating_Matrix)
N = len(R) # Rows
M = len(R[0]) # Columns
K = 50 # Random
P = np.random.rand(N,K)#6, size=(N,K))
Q = np.random.rand(M,K)#6, size=(M,K))
print(N, M)
print('P:',P.shape)
print('Q:',Q.shape)

943 1682
P: (943, 50)
Q: (1682, 50)

In [110]:
nP, nQ = matrix_factorization(R, P, Q, K, 50)
nR = np.dot(nP, nQ.T)

<class 'int'> 50
 STEP ===> 0 ; MSE: 0.23147 ; RMSE: 0.48111
 STEP ===> 1 ; MSE: 0.12473 ; RMSE: 0.35317
 STEP ===> 2 ; MSE: 0.0914 ; RMSE: 0.30232
 STEP ===> 3 ; MSE: 0.07549 ; RMSE: 0.27475
 STEP ===> 4 ; MSE: 0.066 ; RMSE: 0.25691
 STEP ===> 5 ; MSE: 0.05955 ; RMSE: 0.24404
 STEP ===> 6 ; MSE: 0.05479 ; RMSE: 0.23407
 STEP ===> 7 ; MSE: 0.05107 ; RMSE: 0.22598
 STEP ===> 8 ; MSE: 0.04805 ; RMSE: 0.2192
 STEP ===> 9 ; MSE: 0.04553 ; RMSE: 0.21337
 STEP ===> 10 ; MSE: 0.04338 ; RMSE: 0.20827
 STEP ===> 11 ; MSE: 0.04152 ; RMSE: 0.20375
 STEP ===> 12 ; MSE: 0.03988 ; RMSE: 0.1997
 STEP ===> 13 ; MSE: 0.03843 ; RMSE: 0.19603
 STEP ===> 14 ; MSE: 0.03713 ; RMSE: 0.19269
 STEP ===> 15 ; MSE: 0.03596 ; RMSE: 0.18962
 STEP ===> 16 ; MSE: 0.03489 ; RMSE: 0.18679
 STEP ===> 17 ; MSE: 0.03392 ; RMSE: 0.18417
 STEP ===> 18 ; MSE: 0.03303 ; RMSE: 0.18174
 STEP ===> 19 ; MSE: 0.03221 ; RMSE: 0.17946
 STEP ===> 20 ; MSE: 0.03145 ; RMSE: 0.17733
 STEP ===> 21 ; MSE: 0.03074 ; RMSE: 0.17533
 STEP ===> 22 ; MSE: 0.03009 ; RMSE: 0.17345
 STEP ===> 23 ; MSE: 0.02947 ; RMSE: 0.17168
 STEP ===> 24 ; MSE: 0.0289 ; RMSE: 0.17
 STEP ===> 25 ; MSE: 0.02836 ; RMSE: 0.16841
 STEP ===> 26 ; MSE: 0.02785 ; RMSE: 0.1669
 STEP ===> 27 ; MSE: 0.02738 ; RMSE: 0.16546
 STEP ===> 28 ; MSE: 0.02693 ; RMSE: 0.1641
 STEP ===> 29 ; MSE: 0.0265 ; RMSE: 0.1628
 STEP ===> 30 ; MSE: 0.0261 ; RMSE: 0.16156
 STEP ===> 31 ; MSE: 0.02572 ; RMSE: 0.16037
 STEP ===> 32 ; MSE: 0.02536 ; RMSE: 0.15924
 STEP ===> 33 ; MSE: 0.02501 ; RMSE: 0.15815
 STEP ===> 34 ; MSE: 0.02468 ; RMSE: 0.15711
 STEP ===> 35 ; MSE: 0.02437 ; RMSE: 0.15611
 STEP ===> 36 ; MSE: 0.02407 ; RMSE: 0.15515
 STEP ===> 37 ; MSE: 0.02379 ; RMSE: 0.15423
 STEP ===> 38 ; MSE: 0.02351 ; RMSE: 0.15334
 STEP ===> 39 ; MSE: 0.02325 ; RMSE: 0.15249
 STEP ===> 40 ; MSE: 0.023 ; RMSE: 0.15167
 STEP ===> 41 ; MSE: 0.02276 ; RMSE: 0.15087
 STEP ===> 42 ; MSE: 0.02253 ; RMSE: 0.15011
 STEP ===> 43 ; MSE: 0.02231 ; RMSE: 0.14937
 STEP ===> 44 ; MSE: 0.0221 ; RMSE: 0.14865
 STEP ===> 45 ; MSE: 0.02189 ; RMSE: 0.14796
 STEP ===> 46 ; MSE: 0.02169 ; RMSE: 0.14729
 STEP ===> 47 ; MSE: 0.0215 ; RMSE: 0.14664
 STEP ===> 48 ; MSE: 0.02132 ; RMSE: 0.14602
 STEP ===> 49 ; MSE: 0.02114 ; RMSE: 0.14541

In [111]:
pd.DataFrame(nR).to_csv('Collaborative_Predictions.csv')

In [112]:
#Cosine Similarity(Creates a cosine matrix of similaraties ..... which is the pairwise distances between two items )

movie_similarity = 1 - pairwise_distances( Rating_Matrix.values, metric="cosine" )
np.fill_diagonal( movie_similarity, 0 ) 
ratings_matrix_cosine = pd.DataFrame( movie_similarity )
ratings_matrix_cosine

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,0.000000,0.166931,0.047460,0.064358,0.378475,0.430239,0.440367,0.319072,0.078138,0.376544,...,0.369527,0.119482,0.274876,0.189705,0.197326,0.118095,0.314072,0.148617,0.179508,0.398175
1,0.166931,0.000000,0.110591,0.178121,0.072979,0.245843,0.107328,0.103344,0.161048,0.159862,...,0.156986,0.307942,0.358789,0.424046,0.319889,0.228583,0.226790,0.161485,0.172268,0.105798
2,0.047460,0.110591,0.000000,0.344151,0.021245,0.072415,0.066137,0.083060,0.061040,0.065151,...,0.031875,0.042753,0.163829,0.069038,0.124245,0.026271,0.161890,0.101243,0.133416,0.026556
3,0.064358,0.178121,0.344151,0.000000,0.031804,0.068044,0.091230,0.188060,0.101284,0.060859,...,0.052107,0.036784,0.133115,0.193471,0.146058,0.030138,0.196858,0.152041,0.170086,0.058752
4,0.378475,0.072979,0.021245,0.031804,0.000000,0.237286,0.373600,0.248930,0.056847,0.201427,...,0.338794,0.080580,0.094924,0.079779,0.148607,0.071459,0.239955,0.139595,0.152497,0.313941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.118095,0.228583,0.026271,0.030138,0.071459,0.111852,0.107027,0.095898,0.039852,0.071460,...,0.066039,0.431154,0.258021,0.226449,0.432666,0.000000,0.087687,0.180029,0.043264,0.144250
939,0.314072,0.226790,0.161890,0.196858,0.239955,0.352449,0.329925,0.246883,0.120495,0.342961,...,0.327153,0.107024,0.187536,0.181317,0.175158,0.087687,0.000000,0.145152,0.261376,0.241028
940,0.148617,0.161485,0.101243,0.152041,0.139595,0.144446,0.059993,0.146145,0.143245,0.090305,...,0.046952,0.203301,0.288318,0.234211,0.313400,0.180029,0.145152,0.000000,0.101642,0.095120
941,0.179508,0.172268,0.133416,0.170086,0.152497,0.317328,0.282003,0.175322,0.092497,0.212330,...,0.226440,0.073513,0.089588,0.129554,0.099385,0.043264,0.261376,0.101642,0.000000,0.182465
942,0.398175,0.105798,0.026556,0.058752,0.313941,0.276042,0.394364,0.299809,0.075617,0.221860,...,0.263791,0.210763,0.143253,0.077793,0.202244,0.144250,0.241028,0.095120,0.182465,0.000000

In [113]:
movie_ids = ratings_matrix_cosine.index
movie_list = list(movie_ids)
type(movie_list)

list

In [114]:
def get_movie_title():
    movie_id = random.choice(movie_list)
    movie_title = movie_ratings.title[movie_id]
    return movie_title

In [115]:
#Recommender
flag = True
try:
    user_input = get_movie_title()
    inp=movie[movie['title']==user_input].index.tolist()
    inp=inp[0]
    
    movie['similarity'] = Rating_Matrix.iloc[inp]
    movie.columns = ['movie_id', 'title', 'release_date', 'imdb_url', 'genres','similarity']
    movie.head(5)
    
except Exception as e:
    flag = False
    if str(e) == 'list index out of range':
        print("Sorry, the movie is not in the database!")
    else:
        print(e)
        print("__________________________________________________________________________________")
        
if flag:
    print("Recommended movies based on your choice of ",user_input ,":")
    predicted = movie.sort_values( ["similarity"], ascending = False)

Recommended movies based on your choice of  Get Shorty (1995) :

In [116]:
predicted

,movie_id,title,release_date,imdb_url,genres,similarity
354,355,Sphere (1998),13-Feb-1998,http://us.imdb.com/M/title-exact?Sphere+(1998),Adventure|Sci-Fi|Thriller,5.0
360,361,Incognito (1997),01-Jan-1997,http://us.imdb.com/M/title-exact?Incognito+(1997),Crime|Thriller,5.0
258,259,George of the Jungle (1997),01-Jan-1997,http://us.imdb.com/M/title-exact?George+of+the...,Children's|Comedy,5.0
361,362,Blues Brothers 2000 (1998),06-Feb-1998,http://us.imdb.com/M/title-exact?Blues+Brother...,Action|Comedy|Musical,5.0
300,301,In & Out (1997),19-Sep-1997,http://us.imdb.com/Title?In+%26+Out+(1997),Comedy,5.0
...,...,...,...,...,...,...
574,575,City Slickers II: The Legend of Curly's Gold (...,01-Jan-1994,http://us.imdb.com/M/title-exact?City%20Slicke...,Comedy|Western,0.0
573,574,Boxing Helena (1993),01-Jan-1993,http://us.imdb.com/M/title-exact?Boxing%20Hele...,Mystery|Romance|Thriller,0.0
572,573,Body Snatchers (1993),01-Jan-1993,http://us.imdb.com/M/title-exact?Body%20Snatch...,Horror|Sci-Fi|Thriller,0.0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,http://us.imdb.com/M/title-exact?Schrei%20aus%...,Drama,0.0
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,Animation|Children's|Comedy,NaN